@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

*:focus,
*:active {
    outline: none;
}

button {
    cursor: pointer;
}

.infinite-scroll-component__outerdiv {
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .main-main .left {
        width: calc(40% - 299px);
    }

    .main-main .right {
        width: calc(60% - 299px);
    }
}

@media screen and (max-width: 1000px) {
    .main-main .left {
        width: calc(50% - 299px);
    }

    .main-main .right {
        width: calc(50% - 299px);
    }
}
